# Google Sheets API 配置
GOOGLE_SHEETS_SPREADSHEET_ID=1MP5c2rwID7gLfX7ZtxbHUYHF0JaJ8DUZcp0lklE56fk
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYour private key here\n-----END PRIVATE KEY-----\n"
